[submodule "libraries/cpp-httplib"]
	path = libraries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "libraries/lodepng"]
	path = libraries/lodepng
	url = https://github.com/lvandeve/lodepng.git
